PORT=5002
MONGODB_URI=mongodb+srv://chris:TeddiBear23!@cluster0.xtraps5.mongodb.net/charitable-invites?retryWrites=true&w=majority&appName=Cluster0
STRIPE_SECRET_KEY=sk_test_dummy_key
JWT_SECRET=charitable_party_dev_secret_2025

# Email Configuration (Resend)
RESEND_API_KEY=paste_your_resend_api_key_here
RESEND_FROM_EMAIL=onboarding@resend.dev
FRONTEND_URL=http://localhost:3000
