.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: var(--secondary-color);
  animation: spin 1s ease-in-out infinite;
}

.loading-spinner.small .spinner {
  width: 20px;
  height: 20px;
}

.loading-spinner.medium .spinner {
  width: 30px;
  height: 30px;
}

.loading-spinner.large .spinner {
  width: 40px;
  height: 40px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
